#ticket {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;    
}

#button{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.auto-mesa{
    margin-top: -10px;
    margin-left: 10px;
}

.auto-pessoa{
   margin-left: 10px;
}

cardappio-autocomplete{
    margin-left: 1px;
}
