<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-table
  #dt1
  [value]="ingredients"
  [lazy]="true"
  (onLazyLoad)="loadIngredients($event)"
  [paginator]="true"
  [rows]="20"
  [totalRecords]="totalRecords"
  [loading]="false"
  [globalFilterFields]="['name', 'status']"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
  [tableStyle]="{ 'min-width': '75rem' }"
  dataKey="id"
  showGridlines
  stripedRows
>
  <ng-template #caption>
    <div class="flex">
      <p-button label="Novo" icon="pi pi-plus" [routerLink]="['/ingredient/new']">
      </p-button>

      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th pSortableColumn="name" style="width: 40%">
        <div class="flex items-center gap-2">
          Nome
          <p-sortIcon field="name" />
        </div>
      </th>
      <th pSortableColumn="quantity" style="width: 10%">
        <div class="flex items-center gap-2">
          Quantidade
          <p-sortIcon field="quantity" />
        </div>
      </th>
      <th pSortableColumn="unityOfMeasurement" style="width: 10%">
         <div class="flex items-center gap-2">
          Unidade de medida
          <p-sortIcon field="unityOfMeasurement"/>
        </div>
      </th>
      <th pSortableColumn="expirationDate" style="width: 10%">
         <div class="flex items-center gap-2">
          Data de validade
          <p-sortIcon field="expirationDate"/>
        </div>
      </th>
      <th style="width: 10%">Alergênico</th>
      <th style="width: 10%">Status</th>
      <th style="width: 10%">Ações</th>
    </tr>
  </ng-template>

  <ng-template #body let-ingredient>
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.quantity }}</td>
      <td>{{ ingredient.unityOfMeasurement?.description }}</td>
      <td>{{ ingredient.expirationDate | date: 'dd/MM/yyyy' }}</td>
      <td>
        @if (ingredient.allergenic) {
        <i class="pi pi-check-circle" style="color: #51cf66"></i>
        } @else {
        <i class="pi pi-times-circle" style="color: #d33b19"></i>
        }
      </td>
      <td>
        @if (ingredient.active) {
        <i class="pi pi-check-circle" style="color: #51cf66"></i>
        } @else {
        <i class="pi pi-times-circle" style="color: #d33b19"></i>
        }
      </td>
      
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit(ingredient.id)"
          style="margin-right: 0.5rem"
          aria-label="Editar"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-text p-button-sm p-button-danger"
          (click)="onDelete(ingredient.id)"
          aria-label="Excluir"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="12">Nenhum ingrediente encontrado.</td>
    </tr>
  </ng-template>
</p-table>
