spring:
  profiles:
    active: test

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_AUTH_URL:http://localhost:8090/realms/cardappio-app}



cors:
  allowed-origins:
    - "${CORS_ALLOWED_ORIGINS:http://localhost:4200}"
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
  allowed-headers:
    - "*"

keycloak:
  realm: ${KEYCLOAK_REALM:cardappio-app}
  auth-server-url: ${KEYCLOAK_AUTH_URL:http://localhost:8090/realms/cardappio-app}
  resource: ${KEYCLOAK_REALM:backend-app}
  credentials:
    secret: ${KEYCLOAK_CLIENT_SECRET:55C9UfvLcuia9vfU0KveXz53oksH5Rff}
    public-client: false
  bearer-only: true
  ssl-required: external