spring:
  profiles:
    active: test

  data:
    rest:
      enabled: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_AUTH_URL:http://localhost:8090/realms/cardappio-app}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200}
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
    - OPTIONS
    - PATCH
  allowed-headers:
    - Content-Type
    - Authorization
    - X-Requested-With
    - Accept
    - Origin
    - Access-Control-Request-Method
    - Access-Control-Request-Headers

keycloak:
  realm: ${KEYCLOAK_REALM:cardappio-app}
  auth-server-url: ${KEYCLOAK_SERVER_URL:http://localhost:8090}
  resource: ${KEYCLOAK_CLIENT_ID:frontend-app}
  credentials:
    secret: ${KEYCLOAK_CLIENT_SECRET:}
    public-client: false
  bearer-only: true
  ssl-required: external

abacatepay:
  api:
    key: ${ABACATE_PAY:DEFAULT_ABACATE_PAY_KEY}
    base-url: https://api.abacatepay.com/v1
    webhook:
      url: ${ABACATE_PAY_WEBHOOK_URL:https://cardappio.up.railway.app/api/webhooks/abacatepay}
      secret: ${ABACATE_PAY_WEBHOOK_SECRET_PROD:DEFAULT_ABACATE_PAY_WEBHOOK_SECRET_PROD}