main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

header-menu {
  margin-left: 60px;
  transition: margin-left 0.3s ease-in-out;
  z-index: 500;
}

main.expanded header-menu {
  margin-left: 200px;
}

.content {
  margin-left: 60px;
  padding: 20px;
  flex-grow: 1;
  height: calc(100vh - 60px);
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

main.expanded .content {
  margin-left: 200px;
}
