<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-fieldset legend="Novo Ingrediente">
  <form [formGroup]="form" class="p-fluid">
    <div class="grid mt-4">
      <div class="col-9 flex flex-column mb-4 gap-1">
        <label for="name" class="required-label">Nome</label>
        <input id="name" pInputText formControlName="name" placeholder="Nome" />
      </div>

      <div class="col-3 flex flex-column mb-4 gap-1">
        <label for="quantity" class="required-label">Quantidade</label>
        <p-inputNumber
            inputId="quantity"
            formControlName="quantity"
            placeholder="Quantidade"
        >
        </p-inputNumber>
    </div>
    <div class="col-3 flex flex-column mb-4 gap-1">
        <label for="unityOfMeasurement" class="required-label">Unidade de medida</label>
        <p-select
            [options]="unityOfMeasurement"
            formControlName="unityOfMeasurement"
            optionLabel="description"
            placeholder="Selecione a unidade de medida"
            class="w-full md:w-56" />
    </div>

     <div class="col-3 flex flex-column mb-4 gap-1">
        <label for="expirationDate" class="required-label">Data de validade</label>
            <p-datepicker
                formControlName="expirationDate"
                [showIcon]="true"
                inputId="expirationDate"
                [showOnFocus]="true"
                dateFormat="dd/mm/yy"
            ></p-datepicker>
    </div>

      <div class="col-3 mb-4 flex flex-column align-items-center gap-1">
        <label for="active">Ativo</label>
        <p-toggle-switch
          formControlName="active"
        ></p-toggle-switch>
      </div>

       <div class="col-3 mb-4 flex flex-column align-items-center gap-1">
        <label for="allergenic">Alergênico</label>
        <p-toggle-switch
          formControlName="allergenic"
        ></p-toggle-switch>
      </div>
    </div>

    <div class="mt-4 flex justify-content-end gap-2">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-secondary"
        (click)="cancel()"
      ></button>
      <button
        pButton
        type="submit"
        label="Salvar"
        class="p-button-primary"
        (click)="create()"
        [disabled]="this.form.invalid"
      ></button>
    </div>
  </form>
</p-fieldset>
