<form [formGroup]="form">
    <div id="ingredient" class="ingredient">
        <div class="first-row">
            <cardappio-input
                [width]="95"
                [placeholder]="'nome'"
                [label]="'Nome do ingrediente'"
                formControlName="name"
            />
            <cardappio-input
                [width]="95"
                [placeholder]="'quantidade'"
                [label]="'Quantidade'"
                formControlName="quantity"
            />
            <cardappio-date-picker
                [size]="'20'"
                [topLabel]="'Data de validade'"
                formControlName="expirationDate"
                (dateChange)="teste($event)"
            />
        </div>
        <div class="second-row">
            <span>
                <cardappio-autocomplete class="auto-complete"
                [placeholder]="'Unidade de medida'"
                [topLabelInput]="'Unidade de medida'"
                [size]="50"
                [search]="unitOfMeasurement"
                [displayMultipleField]="getUnitDescription"
                formControlName="unityOfMeasurement"
            />  
            </span>              
            <cardappio-toggle
                [label]="'Ativo'"
                formControlName="active"
            />
            <cardappio-toggle
                [label]="'Alergênico'"
                formControlName="allergenic"
            />
        </div>
        <div id="button" class="button">
            <cardappio-cancel-button (onClick)="cancel()"/>
            <cardappio-save-button (onClick)="create()"/>
        </div>
    </div>

</form>