<!-- <form [formGroup]="form">
    <div id="ingredient" class="ingredient">
        <div class="first-row">
            <cardappio-input
                [width]="95"
                [placeholder]="'nome'"
                [label]="'Nome do ingrediente'"
                formControlName="name"
            />
            <cardappio-input
                [width]="95"
                [placeholder]="'quantidade'"
                [label]="'Quantidade'"
                formControlName="quantity"
            />
            <cardappio-autocomplete class="auto-complete"
                [placeholder]="'Unidade de medida'"
                [topLabelInput]="'Unidade de medida'"
                [size]="40"
                [search]="unitOfMeasurement"
                [displayField]="getUnitDescription"
                formControlName="unityOfMeasurement"
            />  
        </div>
        <div class="second-row">
            <cardappio-date-picker class="date-picker"
                [size]="'30'"
                [topLabel]="'Data de validade'"
                (dateChange)="selectedDate($event)"
            />             
            <cardappio-toggle
                [label]="'Ativo'"
                formControlName="active"
            />
            <cardappio-toggle
                [label]="'Alergênico'"
                formControlName="allergenic"
            />
        </div>
        <div id="button" class="button">
            <cardappio-cancel-button (onClick)="cancel()"/>
            <cardappio-save-button (onClick)="create()"/>
        </div>
    </div>

</form> -->