<div id="expansion-panel"
    [@expandCollapse]="expanded ? 'expanded' : 'collapsed'">

     <h3>Adicionais</h3>
     <cardappio-autocomplete class="autocomplete"
        [topLabelInput]="'Selecione um produto'"
        [placeholder]="'Busque um produto'"
        [size]="125"
        [search]="product"
    ></cardappio-autocomplete>
    <div class="divider">
        <span>Ou insira um adicional</span>
    </div>
    <form [formGroup]="form">
            <cardappio-input class="input"
                [width]="100"
                [placeholder]="'nome'"
                [label]="'Nome'"
                formControlName="name"/>
            <cardappio-input class="input"
                [width]="100"
                [placeholder]="'preço'"
                [label]="'Preço'"
                formControlName="price"/>
            <cardappio-input class="input"
                [width]="100"
                [placeholder]="'observações'"
                [label]="'Observações'"
                formControlName="note"/>
        <div class="actions-btn">
            <cardappio-cancel-button/>
            <cardappio-save-button/>
        </div>
    </form>
</div>