<ng-template #dialogTemplate>
  <div class="modal-header">
    <div class="modal-header-strip" [ngClass]="type()">     <button class="close-button" (click)="close()" aria-label="Fechar">&times;</button>
    </div>
  </div>

  <h2 mat-dialog-title>{{ title() }}</h2>

  <mat-dialog-content>
    <ng-content />
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    @if (confirmText()) {
      <cardappio-generic-button (click)="handleConfirm()"></cardappio-generic-button>
    }
    <cardappio-cancel-button (click)="handleCancel()"></cardappio-cancel-button>
  </mat-dialog-actions>
</ng-template>
