<ng-template #dialogTemplate>
  <h2
    mat-dialog-title
    [ngClass]="type()"> {{ title() }}
  </h2>

  <mat-dialog-content>
    <ng-content />
  </mat-dialog-content>

  <mat-dialog-actions align="end">

    @if (confirmText()) {
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="handleConfirm()">
        {{ confirmText() }}
      </button>
    }

    <button
      mat-button
      type="button"
      (click)="handleCancel()">
      {{ cancelText() }}
    </button>

  </mat-dialog-actions>
</ng-template>
