header {
  background-color: rgba(217, 77, 39, 0.83);
  width: 100%;
  padding: 20px 30px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span.icons {
    display: flex;
    gap: 20px;

    i {
      font-size: 20px;
    }
  }
}
