<cardappio-list
    [params]="{
        service: service,
        route: 'category',
        columns: [
            { title: 'Nome', field: 'name', size: 6   },
            { title: 'Status', field: 'active', size: 3   },
        ],
        filters: [
            {
                icon: 'fa-solid fa-plate-wheat',
                title: 'Categoria',
                value: 'name',
                typeValue: 'string'
            },
            {
                icon: 'fa-solid fa-circle-check',
                title: 'Status',
                value: 'active',
                typeValue: 'boolean'
            }
        ]
    }"
>

    <ng-template #active let-item>
        {{ item.active }}
    </ng-template>

</cardappio-list>