<cardappio-list
    [params]="{
        service: service,
        route: 'product',
        columns: [
            {title: 'Nome', field: 'name', size: 5},
            {title: 'Categoria', field: 'category', size: 3},
            {title: 'Preço', field: 'price', size: 3},
            {title: 'Status', field: 'active', size: 3}
        ],
        filters: [
            {
                icon: 'fa-solid fa-bowl-food',
                title: 'Produto',
                value: 'name',
                typeValue: 'string'
            },
                        {
                icon: 'fa-solid fa-circle-check',
                title: 'Status',
                value: 'active',
                typeValue: 'boolean'
            },
                        {
                icon: 'fa-solid fa-money-bill',
                title: 'Preço',
                value: 'price',
                typeValue: 'number'
            }
        ]
    }"
>
<ng-template #active let-item>
    @if(item.active){
        <span style="color: #51CF66;">
            <i class="fa-solid fa-circle-check"></i>
        </span>
    } @else {
        <span style="color: #D33B19;">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
    }
</ng-template>
<ng-template #category let-item>
    {{ item.category.name }}
</ng-template>
<ng-template #expirationDate let-item>
    {{ item.expirationDate | date:'dd/MM/yyyy' }}
</ng-template>
<ng-template #price let-item>
    {{ item.price | currency:'BRL' }}
</ng-template>
</cardappio-list>
