<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-table
  #dt1
  [value]="tickets"
  [lazy]="true"
  (onLazyLoad)="load($event)"
  [paginator]="true"
  [rows]="20"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [globalFilterFields]="['name', 'status']"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
  [tableStyle]="{ 'min-width': '75rem' }"
  dataKey="id"
  showGridlines
  stripedRows
  [expandedRowKeys]="expandedRows"
>
  <ng-template #caption>
    <div class="flex">
      <p-button label="Novo" icon="pi pi-plus" [routerLink]="['/ticket/new']">
      </p-button>

      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="number" style="width: 20%">
        <div class="flex items-center gap-2">
          Número
          <p-sortIcon field="number" />
        </div>
      </th>
      <th style="width: 15%">Total</th>
      <th style="width: 20%">Status</th>
      <th style="width: 30%">Criado por</th>
      <th style="width: 15%">Mesa</th>
    </tr>
  </ng-template>

  <ng-template #body let-ticket let-expanded="expanded">
    <tr>
      <td>
        <p-button
          type="button"
          pRipple
          [text]="true"
          severity="secondary"
          [rounded]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          (click)="toggleRow(ticket)"
        />
      </td>
      <td>{{ ticket.number }}</td>
      <td>{{ ticket.total | currency : "BRL" : "symbol" : "1.2-2" }}</td>
      <td>
        @if (ticket.status.code === 1) {
        <i class="pi pi-info-circle" style="color: #228be6"></i>
        {{ ticket.status.description }}
        } @else if (ticket.status.code === 2) {
        <i class="pi pi-check-circle" style="color: #51cf66"></i>
        {{ ticket.status.description }}
        } @else {
        <i class="pi pi-times-circle" style="color: #d33b19"></i>
        {{ ticket.status.description }}
        }
      </td>
      <td>{{ ticket.person }}</td>
      <td>{{ ticket.table }}</td>
      <td>
        @if (ticket.active) {
        <i class="pi pi-check-circle" style="color: #51cf66"></i>
        } @else {
        <i class="pi pi-times-circle" style="color: #d33b19"></i>
        }
      </td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit(ticket.id)"
          style="margin-right: 0.5rem"
          aria-label="Editar"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-text p-button-sm p-button-danger"
          (click)="onDelete(ticket.id)"
          aria-label="Excluir"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="12">Nenhuma comanda encontrada.</td>
    </tr>
  </ng-template>

  <ng-template #expandedrow let-ticket>
    <tr>
      <td colspan="5">
        <div class="p-4">
          @if (ticket.loadingOrders) {
          <p>Carregando...</p>
          } @else {
          <p-table
            [value]="ticket.orders"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }"
            showGridlines
            stripedRows
          >
            <ng-template #header>
              <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Status</th>
              </tr>
            </ng-template>

            <ng-template #body let-item>
              <tr>
                <td>{{ item.product.name }}</td>
                <td>
                  {{ item.price | currency : "BRL" : "symbol" : "1.2-2" }}
                </td>
                <td>
                  @if (item.active) {
                  <i class="pi pi-check-circle" style="color: #51cf66"></i>
                  } @else {
                  <i class="pi pi-times-circle" style="color: #d33b19"></i>
                  }
                </td>
              </tr>
            </ng-template>

            <ng-template #emptymessage>
              <tr>
                <td colspan="3">Nenhum pedido encontrado.</td>
              </tr>
            </ng-template>
          </p-table>
          }
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
