#product-row,
#product-second-row {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 4px;
  width: 100%;
  margin-top: 10px;
  align-items: end;
}

.input {
  margin-top: 12px;
}

.category-btn {
  margin-top: 30px;
}

.active-btn {
  margin-top: 20px;
}

#additional-btn,
#ingredients-btn {
  width: 100%;
  display: flex;
  border: 0.5px solid black;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: #D0D0D2;
  margin-top: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-top: 20px;
}

.auto-complete {
  margin-top: 0px;
}

.actions-btn {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.third-row {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 10px;
  padding: 5px;
  gap: 5px
}

.text-area {
  display: grid;
  grid-template-rows: auto 1fr;
}

::ng-deep .mat-datepicker-content-container {
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

::ng-deep cardappio-date-picker .mat-datepicker-toggle {
  color: #000000 !important;
}

::ng-deep cardappio-date-picker input {
  background: transparent !important;
  font-size: 14px !important;
  color: #333 !important;
}

::ng-deep cardappio-date-picker,
::ng-deep cardappio-date-picker * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

::ng-deep cardappio-date-picker .mat-mdc-form-field {
  border: 1px solid #c5c5c5 !important;
  border-radius: 10px !important;
  background: #F5F4F7 !important;
  height: 37px !important;
}

::ng-deep cardappio-date-picker .label,
::ng-deep cardappio-date-picker .mat-mdc-floating-label {
  transform: translateY(-50px) !important;
}

::ng-deep cardappio-date-picker .mat-mdc-form-field-flex {
  align-items: center !important; 
  height: 37px !important;
  display: flex !important;
}

::ng-deep cardappio-date-picker input.mat-mdc-input-element {
  padding: 0 !important;
  margin: 10px !important;
  height: auto !important;
  line-height: 37px !important;
  display: flex;
  align-items: center;
}

::ng-deep cardappio-date-picker .mat-datepicker-toggle {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}
