<div class="cardapio-form-fullscreen">
  <h1>
    <span class="breadcrumb-link" (click)="navigateToList()">Cardápio</span>
    <span> › {{ isEditMode ? 'Editar' : 'Novo' }}</span>
  </h1>
  <br><br>  <br><br>
  <div class="form-and-upload-container">
    <div class="form-container" [formGroup]="cardapioForm">
      <div class="field-group">
        <cardappio-input
          placeholder="nome"
          [width]="79"
          label="Nome"
          [ngModel]="cardapioForm.get('name')?.value"
          (ngModelChange)="cardapioForm.get('name')?.setValue($event)"
          [ngModelOptions]="{standalone: true}">
        </cardappio-input>
      </div>
      <br>
      <div class="field-group tema-row">
        <div class="tema-field">
          <cardappio-input
            placeholder="tema"
            [width]="465"
            label="Tema"
            [ngModel]="cardapioForm.get('theme')?.value"
            (ngModelChange)="cardapioForm.get('theme')?.setValue($event)"
            [ngModelOptions]="{standalone: true}">
          </cardappio-input>
        </div>
        <div class="toggle-container">
          <cardappio-toggle
            [ngModel]="cardapioForm.get('active')?.value"
            (ngModelChange)="cardapioForm.get('active')?.setValue($event)"
            [ngModelOptions]="{standalone: true}"
            [label]="cardapioForm.get('active')?.value ? 'Ativo' : 'Inativo'">
          </cardappio-toggle>
        </div>
      </div>
      <br>
      <div class="field-group note-row">
        <div class="note-field">
          <cardappio-input
            [width]="80"
            [height]="70"
            label="Observações"
            [ngModel]="cardapioForm.get('note')?.value"
            (ngModelChange)="cardapioForm.get('note')?.setValue($event)"
            [ngModelOptions]="{standalone: true}">
          </cardappio-input>
        </div>
      </div>
    </div>
    <cardappio-image-upload></cardappio-image-upload>
  </div>
</div>
<div class="form-actions">
  <cardappio-cancel-button (click)="onCancel()"></cardappio-cancel-button>
  <cardappio-save-button (click)="onSave()"></cardappio-save-button>
</div>
