<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-table
  #dt1
  [value]="orders"
  [lazy]="true"
  (onLazyLoad)="loadOrders($event)"
  [paginator]="true"
  [rows]="20"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [globalFilterFields]="['number', 'total', 'orderStatus']"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
  [tableStyle]="{ 'min-width': '75rem' }"
  dataKey="id"
  showGridlines
  stripedRows
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-button label="Novo" icon="pi pi-plus" [routerLink]="['/order/new']">
      </p-button>

      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="ticket.number" style="width: 15%">Comanda</th>
      <th pSortableColumn="number" style="width: 15%">Nº Pedido</th>
      <th pSortableColumn="status" style="width: 20%">Status</th>
      <th pSortableColumn="createdAt" style="width: 20%">Data</th>
      <th class="text-right" pSortableColumn="total" style="width: 20%">
        Total
      </th>
      <th style="width: 10%">Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.ticket?.number }}</td>
      <td>{{ order.number }}</td>
      <td>
        @switch (order.status?.code) { @case (1) {
        <p-tag severity="warn" value="Pendente"></p-tag> } @case (2) {
        <p-tag severity="info" value="Em Andamento"></p-tag> } @case (3) {
        <p-tag severity="success" value="Finalizado"></p-tag> } @case (4) {
        <p-tag [style]="{ background: '#22c55e' }" value="Entregue"></p-tag> }
        @case (5) {
        <p-tag severity="success" value="Pagamento aprovado"></p-tag> } @case
        (6) { <p-tag severity="danger" value="Pagamento falhou"></p-tag> }
        @default { <p-tag severity="danger" value="Desconhecido"></p-tag> } }
      </td>
      <td>{{ order.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
      <td class="text-right">
        {{
          totalById.get(order.id) || 0.0 | currency : "BRL" : "symbol" : "1.2-2"
        }}
      </td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-text p-button-sm p-button-danger"
          (click)="onDelete(order.id)"
          aria-label="Excluir"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-verified"
          class="p-button-text p-button-sm p-button-info"
          (click)="openChangeStatus(order.id)"
          aria-label="Alterar Status"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">Nenhum pedido encontrado.</td>
    </tr>
  </ng-template>
</p-table>

<form [formGroup]="form">
  <p-dialog
    header="Alterar Status"
    [modal]="true"
    [(visible)]="visibleChangeStatus"
    [style]="{ width: '60rem', height: '400px' }"
  >
    <div class="flex flex-column mt-2 mb-5 gap-1 col-12">
      <label for="parent" class="required-label">Vincular um Status</label>
      <p-autocomplete
        formControlName="status"
        optionLabel="description"
        [suggestions]="status.values"
        [dropdown]="true"
        fluid
        appendTo="body"
        (completeMethod)="searchStatus()"
        [emptyMessage]="'Nenhum status encontrado'"
      />
    </div>

    <div class="flex gap-2 mb-6" style="justify-content: flex-end">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="visibleChangeStatus = false"
      />
      <p-button
        label="Alterar"
        (click)="changeStatus()"
        [disabled]="form.invalid"
      />
    </div>
  </p-dialog>
</form>
