<cardappio-list
    [params]="{
        service: service,
        route: 'ingredient',
        columns: [
            {title: 'Ingredientes', field: 'name', size: 6},
            {title: 'Unidade de medida', field: 'unityOfMeasurement', size: 3},
            {title: 'Data de validade', field: 'expirationDate', size: 3},
            {title: 'Status', field: 'active', size: 3}
        ],
        filters: [
            {
                icon: 'fa-solid fa-pepper-hot',
                title: 'Ingrediente',
                value: 'name',
                typeValue: 'string'
            },
            {
                icon: 'fa-solid fa-calendar-days',
                title: 'Validade',
                value: 'expirationDate',
                typeValue: 'string'
            },
            {
                icon: 'fa-solid fa-scale-balanced',
                title: 'Medida',
                value: 'unityOfMeasurement',
                typeValue: 'string'
            },
            {
                icon: 'fa-solid fa-circle-check',
                title: 'Status',
                value: 'active',
                typeValue: 'boolean'
            }
        ]
    }"
>
<ng-template #active let-item>
    @if(item.active){
        <span style="color: #51CF66;">
            <i class="fa-solid fa-circle-check"></i>
        </span>
    } @else {
        <span style="color: #D33B19;">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
    }
</ng-template>
<ng-template #expirationDate let-item>
    {{ item.expirationDate | date:'dd/MM/yyyy' }}
</ng-template>
</cardappio-list>
