<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-fieldset legend="Novo Produto">
   <div class="card flex justify-center w-full">
    <p-stepper [value]="1" class="w-full flex flex-column" [linear]="true">
      <p-step-list>
        <p-step [value]="1">Informações Gerais</p-step>
        <p-step [value]="2">Ingredientes</p-step>
        <p-step [value]="3">Tamanhos disponíveis e preço</p-step>
        <p-step [value]="4">Adicionais</p-step>
        <p-step [value]="5">Variáveis</p-step>
      </p-step-list>

      <p-step-panels class="w-full flex-1">
        <p-step-panel [value]="1" class="w-full">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="productForm" class="p-fluid w-full">
              <div class="grid w-full mt-4">
                <div class="col-8 flex flex-column mb-4 gap-1">
                  <label for="name" class="required-label">Nome</label>
                  <input 
                    id="name" 
                    pInputText 
                    formControlName="name" 
                    placeholder="Nome"
                    />
                </div>

                <div class="col-3 flex flex-column mb-4 gap-1">
                  <label for="expirationDate">Data de validade</label>
                  <p-datepicker
                    formControlName="expirationDate"
                    [showIcon]="true"
                    inputId="expirationDate"
                    [showOnFocus]="true"
                    dateFormat="dd/mm/yy"
                    locale="pt-BR"
                  ></p-datepicker>
                </div>

                <div class="col-6 flex flex-column mb-4 gap-1">
                  <label for="description">Descrição</label>
                  <textarea 
                    rows="3"
                    pTextarea 
                    formControlName="description">
                  </textarea>
                </div>

                <div class="col-4 flex flex-column mb-4 gap-1">
                  <label for="category" class="required-label">Vincular uma categoria</label>
                  <p-autocomplete
                    formControlName="category"
                    optionLabel="name"
                    [suggestions]="filteredCategories"
                    (completeMethod)="searchCategories($event)"
                    [dropdown]="true"
                    [emptyMessage]="'Categoria não encontrada'"
                    fluid
                  />
                </div>

                <div class="col-2 flex flex-column mb-4 gap-1">
                  <label for="image">Imagem</label>
                  <p-fileUpload
                    name="image"
                    mode="basic"
                    [auto]="true"
                    customUpload="true"
                    chooseLabel="Escolher Imagem"
                    previewWidth="50"
                    (onSelect)="onFileSelected($event)"
                  ></p-fileUpload>

                  <div *ngIf="imagePreview" class="mt-3">
                    <img
                      [src]="imagePreview"
                      alt="Pré-visualização da imagem"
                      style="max-width: 150px; border-radius: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.2)"
                    />
                  </div>
                </div>

                <div class="col-6 flex flex-column mb-4 gap-1">
                  <label for="note">Informações adicionais</label>
                  <textarea rows="3" pTextarea formControlName="note"></textarea>
                </div>
              </div>
            </form>
            <div class="flex pt-6 justify-end">
              <p-button
                pButton
                type="button"
                label="Cancelar"
                severity="danger"
                (click)="onCancel()"
              />
              <p-button
                type="button"
                label="Próximo"
                icon="pi pi-arrow-right"
                iconPos="right"
                (click)="next(activateCallback)"
                [disabled]="validFirstStep()"
              />
            </div>
          </ng-template>
        </p-step-panel>
        
        <p-step-panel [value]="2" class="w-full">
          <ng-template #content let-activateCallback="activateCallback">
            <app-product-ingredient
              [productId]="''"
              (prevEmitter)="prev(activateCallback)"
              (nextEmitter)="next(activateCallback)"
            ></app-product-ingredient>
          </ng-template>
        </p-step-panel>

        <!-- <p-step-panel [value]="3" class="w-full">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="productItemForm" class="p-fluid w-full">
              <div class="grid w-full mt-4">
                <div class="col-3 flex flex-column mb-4 gap-1">
                  <label for="itemSize" class="required-label">Tamanhos</label>
                  <p-select
                    [options]="itemSize"
                    formControlName="size"
                    optionLabel="description"
                    placeholder="Selecione o tamanho"
                    class="w-full md:w-56"
                  ></p-select>
                </div>

                <div class="col-3 flex flex-column mb-4 gap-1">
                  <label for="additionalPrice">Preço</label>
                  <p-inputNumber
                    inputId="additional_price"
                    formControlName="price"
                    placeholder="Preço"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                  ></p-inputNumber>
                </div>

                <div class="col-3 flex flex-column mb-4 gap-1">
                  <label for="quantity">Quantidade disponível</label>
                  <input id="quantity" pInputText formControlName="quantity" placeholder="Quantidade" />
                </div>
                <div class="col-2 flex flex-column mb-4 gap-1">
                  <label for="active" class="required-label">Ativo</label>
                  <p-toggle-switch inputId="active" formControlName="active"></p-toggle-switch>
                </div>
              </div>
              <div class="col-6 flex flex-column mb-4 gap-1">
                  <label for="note">Descrição</label>
                  <textarea rows="3" pTextarea formControlName="description"></textarea>
              </div>
            </form>

            <form [formGroup]="productItemIngredientForm" class="p-fluid w-full">
              <p-table
              [value]="productForm.get('ingredients')?.value"
              showGridlines
              [paginator]="true"
              [rows]="5"
              [responsiveLayout]="'scroll'"
              class="mt-4"
            >
              <ng-template #header>
                <tr>
                  <th>Ingrediente</th>
                  <th>Quantidade utilizada</th>
                  <th>Unidade de medida</th>
                  <th style="width: 10rem">Ações</th>
                </tr>
              </ng-template>

              <ng-template #body let-ingredient let-rowIndex="rowIndex">
                <tr>
                  <td style="width: 45%">{{ ingredient.name }}</td>
                  <td style="width: 25%">
                    <p-inputNumber
                    formControlName="quantity"
                    placeholder="Digite a quantidade"
                    />
                  </td>
                  <td style="width: 20%">{{ ingredient.unityOfMeasurement }}</td>
                  <td>
                      <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="p-button-text p-button-sm p-button-danger"
                      aria-label="Excluir"
                      (click)="deleteIngredient(rowIndex)"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center">
                    Nenhum ingrediente cadastrado.
                  </td>
                </tr>
              </ng-template>
            </p-table>
            </form>
       
            <div class="flex justify-end w-full mt-4">
              <p-button
                type="button"
                label="Adicionar"
                icon="pi pi-plus"
                (click)="addProductItem()"
              ></p-button>
            </div>

            <div class="flex justify-between w-full mt-6">
              <p-button
                type="button"
                label="Voltar"
                severity="secondary"
                icon="pi pi-arrow-left"
                (click)="activateCallback(2)"
              ></p-button>

              <p-button
                type="button"
                label="Próximo"
                icon="pi pi-arrow-right"
                iconPos="right"
                (click)="activateCallback(4)"
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="4" class="w-full">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="additionalForm" class="p-fluid w-full">
              <div class="grid w-full mt-4">
                <div class="col-6 flex flex-column mb-4 gap-1">
                  <label for="additional">Escolha um adicional</label>
                  <p-autocomplete
                    formControlName="name"
                    optionLabel="name"
                    [suggestions]="filteredProducts"
                    (completeMethod)="searchProducts($event)"
                    [dropdown]="true"
                    fluid
                  ></p-autocomplete>
                </div>
                <div class="col-3 flex flex-column mb-4 gap-1">
                  <label for="additionalPrice">Preço</label>
                  <p-inputNumber
                    inputId="price"
                    formControlName="price"
                    placeholder="Preço"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                  ></p-inputNumber>
                </div>
              </div>
            </form>

            <p-button 
              type="button"
              label="Adicionar"
              icon="pi pi-plus"
              (click)="addAdditional()"
            ></p-button>

            <p-table
              [value]="additional"
              [paginator]="true"
              [rows]="5"
              [responsiveLayout]="'scroll'"
              class="mt-4"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th style="width: 10rem">Ações</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-additional let-i="rowIndex">
                <tr>
                  <td>{{ additional.name }}</td>
                  <td>{{ additional.price }}</td>
                  <td>
                     <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="p-button-text p-button-sm p-button-danger"
                      aria-label="Excluir"
                      (click)="deleteAdditional(i)"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center">Nenhum adicional cadastrado.</td>
                </tr>
              </ng-template>
            </p-table>

            <div class="flex pt-6 justify-end">
              <p-button
                type="button"
                label="Voltar"
                severity="secondary"
                icon="pi pi-arrow-left"
                (click)="activateCallback(3)"
              ></p-button>
              <p-button
                type="button"
                label="Próximo"
                icon="pi pi-arrow-right"
                iconPos="right"
                (click)="activateCallback(5)"
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="5" class="w-full">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="grid w-full mt-4">
              <div class="col-12 md:col-6 flex flex-column mb-4 gap-1">
                <label for="product_variable">Cadastrar opção</label>
                <form [formGroup]="productVariableForm" class="p-fluid w-full">
                  <div class="flex gap-2">
                    <input
                      pInputText
                      formControlName="name"
                      placeholder="Ex: copo com gelo"
                      class="flex-auto"
                    />
                    <p-inputNumber
                      inputId="price"
                      formControlName="price"
                      placeholder="Preço"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                    ></p-inputNumber>
                  </div>
                </form>
              </div>
            </div>

            <p-button
              type="button"
              label="Adicionar"
              icon="pi pi-plus"
              (click)="addProductVariable()"
            ></p-button>

            <p-table
              [value]="productVariables"
              [paginator]="true"
              [rows]="5"
              [responsiveLayout]="'scroll'"
              class="mt-4"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th style="width: 10rem">Ações</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-variable let-i="rowIndex">
                <tr>
                  <td>{{ variable.name }}</td>
                  <td>{{ variable.price | currency: 'BRL' }}</td>
                  <td>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="p-button-text p-button-sm p-button-danger"
                      aria-label="Excluir"
                      (click)="deleteProductVariable(i)"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center">Nenhuma variável cadastrada.</td>
                </tr>
              </ng-template>
            </p-table>

            <div class="flex pt-6 justify-content-between">
              <p-button
                type="button"
                label="Voltar"
                severity="secondary"
                icon="pi pi-arrow-left"
                (click)="activateCallback(4)"
              ></p-button>
            </div>

            <div class="mt-4 flex justify-content-end gap-2">
              <button
                pButton
                type="button"
                label="Cancelar"
                class="p-button-secondary"
                (click)="onCancel()"
              ></button>
              <button
                pButton
                type="button"
                label="Salvar"
                class="p-button-primary"
                (click)="onSave()"
              ></button>
            </div>
          </ng-template>
         </p-step-panel> -->
        
      </p-step-panels>
    </p-stepper>
  </div>
</p-fieldset>
