<aside [ngClass]="{ expanded: expanded }">
  <div class="header">
    <button (click)="toggleExpand()">
      @if (expanded) {
      <span>&times;</span>
      } @else {
      <span>&equiv;</span>
      }
    </button>
  </div>

  <nav>
    <ul>
      @for (route of routes; track $index) {
      <li
        (click)="redirectTo(route.path)"
        [ngClass]="{ active: router.url === route.path }"
        pTooltip="{{ route.name }}"
        tooltipPosition="right"
      >
        <i [ngClass]="route.icon"></i>
        @if (expanded) {
        <span>{{ route.name }}</span>
        }
      </li>
      }
    </ul>
  </nav>

  <div></div>
</aside>
