<form [formGroup]="form">
  <div>
    <div>
      <cardappio-input
        [label]="'Número'"
        [placeholder]="'número'"
        [width]="95"
        formControlName="number"
      >
      </cardappio-input>
    </div>
    <cardappio-input
      [label]="'Lugares'"
      [placeholder]="'lugares'"
      [width]="95"
      formControlName="places"
    >
    </cardappio-input>
    <cardappio-autocomplete
      [placeholder]="'Selecione um Status'"
      [isMultiple]="false"
      [size]="40"
      [topLabelInput]="'Selecione um status'"
      [search]="tables"
      formControlName="status"
      [displayField]="display"
    />
  </div>
  <div>
    <cardappio-cancel-button (onClick)="onCancel()"></cardappio-cancel-button>
    <cardappio-save-button (onClick)="onSave()"></cardappio-save-button>
  </div>
</form>
