<div class="cardapio-form-fullscreen">
  <h1>
    <span class="breadcrumb-link" (click)="navigateToList()">Pedido</span>
    <span> › {{ isEditMode ? 'Editar' : 'Novo' }}</span>
  </h1>
  <br><br><br><br>

  <div class="form-container" [formGroup]="orderForm">
    <div class="field-group">
      <cardappio-autocomplete
        [placeholder]="'Vincular Produtos'"
        [isMultiple]="true"
        [size]="40"
        [topLabelInput]="'Selecione os Produtos'"
        [search]="productsSrc"
        formControlName="products"
        [displayField]="displayProduct">
      </cardappio-autocomplete>
    </div>
    <br>

    <div class="field-group">
      <cardappio-autocomplete
        [placeholder]="'Vincular uma comanda'"
        [isMultiple]="false"
        [size]="40"
        [topLabelInput]="'Selecione uma comanda'"
        [search]="ticketsSrc"
        formControlName="ticket"
        [displayField]="displayTicket">
      </cardappio-autocomplete>
    </div>
  </div>
</div>

<div class="form-actions">
  <cardappio-cancel-button (click)="onCancel()"></cardappio-cancel-button>
  <cardappio-save-button (click)="onSave()"></cardappio-save-button>
</div>
