<div class="order-form-container">
  <div class="header-section">
    <h2 class="breadcrumb">
      <span class="link" (click)="navigateToList()">Pedidos</span>
      <span> › {{ isEditMode ? 'Editar' : 'Novo' }}</span>
    </h2>
  </div>

  <form [formGroup]="orderForm" class="form-content">
    <div class="form-row">
      <div class="form-field">
        <label for="products" class="field-label">Produtos</label>
        <p-autoComplete
          id="products"
          formControlName="products"
          [suggestions]="filteredProducts"
          (completeMethod)="searchProducts($event)"
          [multiple]="true"
          [dropdown]="true"
          placeholder="Selecione"
          [showClear]="true"
          optionLabel="name" styleClass="w-full">
        </p-autoComplete>
      </div>

      <div class="form-field">
        <label for="ticket" class="field-label">Comanda</label>
        <p-autoComplete
          id="ticket"
          formControlName="ticket"
          [suggestions]="filteredTickets"
          (completeMethod)="searchTickets($event)"
          [dropdown]="true"
          placeholder="Selecione"
          [showClear]="true"
          optionLabel="number"
          styleClass="w-full">
        </p-autoComplete>
      </div>
    </div>

    <div class="form-field price-form">
      <label for="total" class="field-label">Preço Final</label>
      <p-inputNumber
        id="total"
        formControlName="total"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        placeholder="R$ 0,00"
        styleClass="w-full">
      </p-inputNumber>
    </div>

  </form>

  <div class="form-actions">
    <p-button
      label="Cancelar"
      [outlined]="true"
      severity="secondary"
      (onClick)="onCancel()">
    </p-button>

    <p-button
      label="Salvar"
      severity="success"
      (onClick)="onSave()"
      [disabled]="orderForm.invalid">
    </p-button>
  </div>
</div>
