<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<p-fieldset legend="{{ isEditMode ? 'Editar Pedido' : 'Novo Pedido' }}">
  <form [formGroup]="orderForm" class="p-fluid">
    <div class="grid mt-4">

      <div class="col-6 flex flex-column mb-4 gap-1">
        <label for="products">Produtos</label>
        <p-autoComplete
          id="products"
          formControlName="products"
          [suggestions]="filteredProducts"
          (completeMethod)="searchProducts($event)"
          [multiple]="true"
          [dropdown]="true"
          placeholder="Selecione os produtos"
          optionLabel="name"
          fluid>
        </p-autoComplete>
      </div>

      <div class="col-6 flex flex-column mb-4 gap-1">
        <label for="ticket">Comanda</label>
        <p-autoComplete
          id="ticket"
          formControlName="ticket"
          [suggestions]="filteredTickets"
          (completeMethod)="searchTickets($event)"
          [dropdown]="true"
          placeholder="Selecione a comanda"
          optionLabel="number"
          fluid>
        </p-autoComplete>
      </div>

      <div class="col-6 flex flex-column mb-4 gap-1">
        <label for="total">Preço Final</label>
        <p-inputNumber
          id="total"
          formControlName="total"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$ 0,00">
        </p-inputNumber>
      </div>

    </div>

    <div class="mt-4 flex justify-content-end gap-2">
      <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-secondary"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        type="submit"
        label="Salvar"
        class="p-button-primary"
        (click)="onSave()"
        [disabled]="orderForm.invalid"
      ></button>
    </div>
  </form>
</p-fieldset>
