#category {
    display: flex;
    justify-content: space-between;
}

#category-image-upload {
    display: flex;
    justify-content: left;
}

#button{
    display: flex;
    justify-content: end;
    gap: 1rem
}

.category-input {
    margin-top: 10px;
    width: 100%;
}

.toogle {
    margin-top: 10px;
}