<form [formGroup]="form">
    <div id="category" class="category">
    <cardappio-input
        width="150"
        [placeholder]="'Nome'"
        [label]="'Nome da Categoria'"
        [value]="this.form.get('name')?.value"
        (inputValue)="input($event)"
    >
</cardappio-input>
<cardappio-toggle
    [label]="'Ativo'"
    formControlName.active
    >
</cardappio-toggle>
</div>
<cardappio-image-upload id="category-image-upload"
        [label]="'Imagem da Categoria'"
    >
</cardappio-image-upload>
<div id="button" class="button">
    <cardappio-cancel-button (onClick)="cancel()"></cardappio-cancel-button>
    <cardappio-save-button (onClick)="create()"></cardappio-save-button>
</div>
</form>

