<form [formGroup]="form">
    <div id="category" class="category">
        <div class="category-input">
    <cardappio-input
        [width]="95"
        [placeholder]="'Nome'"
        [label]="'Nome da Categoria'"
        formControlName="name"
    >
</cardappio-input>
</div>
<cardappio-toggle
    [label]="'Ativo'"
    formControlName="active"
>
</cardappio-toggle>
</div>
<cardappio-image-upload 
        id="category-image-upload"
        [label]="'Imagem da Categoria'"
    >
</cardappio-image-upload>
<div id="button" class="button">
    <cardappio-cancel-button (onClick)="cancel()"></cardappio-cancel-button>
    <cardappio-save-button (onClick)="create()"></cardappio-save-button>
</div>
</form>

